body {
	position: relative;
}

section.mainSection {
	height: 90vmin;
	width: 90vmin;
	background-color: aqua;
	margin: 5vmin auto auto auto;
}


/* Start of css for Word Clock */
/* TODO: move this to it's own file */
div[ng-app=WordClock] {
	height: 100%;
}

word-clock {
	background-color: blueviolet;
	height: 100%;
}

div.wordClockRow {
	width: 100%;
	height: 9.090909090909%;
}

div.wordClockSection {
	background-color: #000;
	width: 9.090909090909%;
	height: 100%;

	padding-top: .5em;

	display: inline-flex;
	justify-content: center;
	align-content: center;

	color: dimgrey;
	text-align: center;
	text-transform: capitalize;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: bolder;

}

div.wordClockSection > div {
	width: 100%;

}